@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth;
  }

  body {
    @apply bg-dark-1 text-white min-h-screen font-[inter] transition-colors duration-200;
  }

  .dark body {
    @apply bg-dark-1 text-white;
  }

  .light body {
    @apply bg-light-bg-2 text-light-text-1;
  }
}

@layer components {
  /* SHADCN COMPONENTS */
  /* Form */
  .shad-form_label {
    @apply text-white dark:text-white light:text-light-text-1 !important;
  }

  .shad-form_message {
    @apply text-red !important;
  }

  .shad-input {
    @apply h-12 bg-dark-4 dark:bg-dark-4 light:bg-light-bg-4 border-none placeholder:text-light-4 focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-light-3 !important;
  }

  .shad-textarea {
    @apply h-36 bg-dark-3 dark:bg-dark-3 light:bg-light-bg-3 rounded-xl border-none focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-light-3 !important;
  }

  /* Button */
  .shad-button_primary {
    @apply bg-primary-500 hover:bg-primary-500 text-light-1 dark:text-light-1 light:text-light-bg-1 flex gap-2 !important;
  }

  .shad-button_dark_4 {
    @apply h-12 bg-dark-4 dark:bg-dark-4 light:bg-light-bg-4 px-5 text-light-1 dark:text-light-1 light:text-light-text-1 flex gap-2 !important;
  }

  .shad-button_ghost {
    @apply flex gap-4 items-center justify-start hover:bg-transparent hover:text-white dark:hover:text-white light:hover:text-light-text-1 !important;
  }
}

@layer utilities {
  /* TYPOGRAPHY */
  .h1-bold {
    @apply text-[36px] font-bold leading-[140%] tracking-tighter;
  }

  .h1-semibold {
    @apply text-[36px] font-semibold leading-[140%] tracking-tighter;
  }

  .h2-bold {
    @apply text-[30px] font-bold leading-[140%] tracking-tighter;
  }

  .h3-bold {
    @apply text-[24px] font-bold leading-[140%] tracking-tighter;
  }

  .base-semibold {
    @apply text-[16px] font-semibold leading-[140%] tracking-tighter;
  }

  .base-medium {
    @apply text-[16px] font-medium leading-[140%];
  }

  .base-regular {
    @apply text-[16px] font-normal leading-[140%];
  }

  .body-bold {
    @apply text-[18px] font-bold leading-[140%];
  }

  .body-medium {
    @apply text-[18px] font-medium leading-[140%];
  }

  .small-semibold {
    @apply text-[14px] font-semibold leading-[140%] tracking-tighter;
  }

  .small-medium {
    @apply text-[14px] font-medium leading-[140%];
  }

  .small-regular {
    @apply text-[14px] font-normal leading-[140%];
  }

  .subtle-semibold {
    @apply text-[12px] font-semibold leading-[140%];
  }

  .tiny-medium {
    @apply text-[10px] font-medium leading-[140%];
  }

  /* UTILITIES */
  .invert-white {
    @apply invert brightness-0 transition;
  }
}


.custom-scrollbar {
  scrollbar-width: none; /* Hides scrollbar by default in Firefox */
  -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
}

.custom-scrollbar:hover {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent; /* Adjust colors for Firefox */
}

/* WebKit Browsers (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease;
}

.custom-scrollbar:hover::-webkit-scrollbar {
  opacity: 1; /* Show on hover */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 999px; /* Fully rounded */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(46, 46, 50, 0.5); /* dark-5 with 50% opacity */
  border-radius: 999px; /* Fully rounded */
  opacity: 0; /* Initially hidden */
  transition: background-color 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(46, 46, 50, 0.5); /* dark-5 with 50% opacity */
}

.light .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(209, 209, 205, 0.5); /* light-bg-5 with 50% opacity */
}

/* Show thumb on hover and while scrolling */
.custom-scrollbar:hover::-webkit-scrollbar-thumb,
.custom-scrollbar.scrolling::-webkit-scrollbar-thumb {
  opacity: 1;
  background-color: rgba(61, 61, 66, 0.8); /* dark-6 with 80% opacity */
  transform: scale(1.1); /* Slight enlargement for visual feedback */
}

.dark .custom-scrollbar:hover::-webkit-scrollbar-thumb,
.dark .custom-scrollbar.scrolling::-webkit-scrollbar-thumb {
  background-color: rgba(61, 61, 66, 0.8); /* dark-6 with 80% opacity */
}

.light .custom-scrollbar:hover::-webkit-scrollbar-thumb,
.light .custom-scrollbar.scrolling::-webkit-scrollbar-thumb {
  background-color: rgba(194, 194, 189, 0.8); /* light-bg-6 with 80% opacity */
}
